<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jca.datadao.TDEmployinfoMapper">
	<select id="selectOneTdEmp" resultType="TDEmployinfo"
		parameterType="TDEmployinfo">
		SELECT
		EmployID as employId,
		WxEmployID as wxEmployId,
		EmployNO as
		employNo,
		EmployName as employName,
		CardNO as cardNo,
		GroupID as groupId,
		IsAttend as isAttend,
		IsDoor as isDoor,
		BeginDateTime as beginDateTime,
		EndDateTime as endDateTime,
		InPassWord as inPassWord,
		DepartmentName as
		departmentName,
		Mailbox as mailbox,
		Mobilephone as mobilePhone,
		WeiXinNO
		as weiXinNo,
		PostName as postName,
		Gender as gender,
		IsDown as isDown,
		IsWxDown as isWxDown,
		IDCardNo as iDCardNo,
		PlayCardNumber as
		playCardNumber,
		PlayCardSum as playCardSum,
		UpdataCloud as updataCloud,
		Birthday as birthday,
		Police as police,
		Nation as nation,
		Address as
		address,
		UpdateState as updateState,
		UpdateDateTime as updateDateTime,
		IsSubmarineBack as isSubmarineBack,
		OnSiteState as onSiteState,
		TimeNumber as timeNumber,
		CardTimeRecord as cardTimeRecord,		
		secret_key as secret_key
		FROM t_d_employinfo
		where
		1=1
		<if test="mobilePhone != null and mobilePhone !=''">
			and Mobilephone=#{mobilePhone}
		</if>
		LIMIT 0, 1000 ;

	</select>
</mapper>