<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jca.datadao.TFVisitorMapper">
	<select id="selectAllVisitorRecord" resultMap="TFVisitorMap">
		SELECT
		visitor_id AS visitorId,
		confuse_reason AS confuseReason,
		visitor_photo AS visitorPhoto,
		visitor_name AS visitorName,
		check_no AS checkNo,
		check_date AS checkDate,
		check_state AS checkState,
		visitor_reason AS visitorReason,
		people_by_visiting_id AS peopleByVisitingId,
		visotor_telephone AS visotorTelephone,
		visitor_card_no AS visitorCardNo,
		begin_date AS beginDate,
		end_date AS endDate
		FROM
		t_f_visitor fv
		LEFT JOIN t_f_employ_info fe
		ON fv.people_by_visiting_id = fe.employ_no
		LEFT JOIN t_f_property fp
		ON fp.property_no = fe.property_no
		<if test="param.propertyNo != null and param.propertyNo !='-1'">
			and fe.property_no=#{param.propertyNo}
		</if>
		<!-- 单个条件 -->
		<if test="param.visitorId != null and param.visitorId !=''">
			and fv.visitor_id=#{param.visitorId}
		</if>
		LIMIT 0, 1000 ;
	</select>
	<resultMap id="TFVisitorMap" type="TFVisitor">
		<association property="employInfo" javaType="TFEmployInfo"
			autoMapping="true" fetchType="lazy" column="peopleByVisitingId"
			select="selectBypeople" />
		<association property="checkEmpInfo" javaType="TFEmployInfo"
			autoMapping="true" fetchType="lazy" column="checkNo" select="selectCheckpeople" />
	</resultMap>
	<select id="selectBypeople" resultType="TFEmployInfo"
		parameterType="String">
		SELECT
		employ_id as employId,
		employ_no as employNo,
		employ_name as employName,
		organ_name as organName,
		room_no as roomNo,
		(select
		department_name from t_f_department
		fd where 1=1 and
		fd.department_no=fe.department_no) as departmentName,
		department_no as
		departmentNo,
		area_no as areaNo,
		fe.secret_key as secretKey,
		card_no as
		cardNo,
		id_card_no as idCardNo,
		sex,
		photo as photo,
		photo_state as
		photoState,
		fe.telephone,
		nation,
		birth_place as birthPlace,
		fe.property_no as propertyNo,
		fp.property_name as propertyName,
		begin_datetime as beginDatetime,
		end_datetime as endDatetime,
		is_submarine_back as isSubmarineBack,
		is_present as isPresent,
		fe.is_down as isDown,
		fe.create_by as createBy,
		fe.create_time as
		createTime,
		fe.update_by as updateBy,
		fe.update_time as updateTime
		FROM
		t_f_employ_info fe,t_f_property fp
		where fe.property_no=fp.property_no
		and employ_no=#{peopleByVisitingId}
	</select>

	<select id="selectCheckpeople" resultType="TFEmployInfo"
		parameterType="String">
		SELECT
		employ_id as employId,
		employ_no as employNo,
		employ_name as employName,
		organ_name as organName,
		room_no as roomNo,
		(select
		department_name from t_f_department
		fd where 1=1 and
		fd.department_no=fe.department_no) as departmentName,
		department_no as
		departmentNo,
		area_no as areaNo,
		fe.secret_key as secretKey,
		card_no as
		cardNo,
		id_card_no as idCardNo,
		sex,
		photo as photo,
		photo_state as
		photoState,
		fe.telephone,
		nation,
		birth_place as birthPlace,
		fe.property_no as propertyNo,
		fp.property_name as propertyName,
		begin_datetime as beginDatetime,
		end_datetime as endDatetime,
		is_submarine_back as isSubmarineBack,
		is_present as isPresent,
		fe.is_down as isDown,
		fe.create_by as createBy,
		fe.create_time as
		createTime,
		fe.update_by as updateBy,
		fe.update_time as updateTime
		FROM
		t_f_employ_info fe,t_f_property fp
		where fe.property_no=fp.property_no
		and employ_no=#{checkNo}
	</select>
</mapper>